<div class="modal-overlay">
    <div class="report-modal shadow-lg d-flex flex-column gap-2">
        <h3 class="report-header">
            {{modalTitle()}}
        </h3>
        <textarea maxlength="2000" #textarea formControlName="content" class="w-100" placeholder="Type the reason..."></textarea>
        @if (showReasonError()) {
        <p class="text-danger">{{showReasonError()}}</p>
        }
        <div class="report-footer d-flex justify-content-end gap-3">
            <button (click)="closeModal()">Close</button>
            <button (click)="handleSubmitReport()">Submit</button>
        </div>
    </div>
</div>