main.auth {
    .img-section {
        background:
            linear-gradient(rgba(34, 34, 34, 0.5), rgba(34, 34, 34, 0.5)),
            url("/assets/images/office.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    img {
        object-fit: cover;
    }
}