services: 
    db:
        image: postgres:alpine
        container_name: postgres-1
        ports:
            - "${APP_DB_PORT}:5432"
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        volumes:           
        - db_data:/var/lib/postgresql/data  

volumes:  
    db_data:
