header {
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: var(--bg-primary);
    color: var(--text-primary);

    .logo {
        text-decoration: none;
        font-weight: 700;
        font-size: 1.8em;
        color: var(--color-primary);
    }

    li {
        position: relative;
        cursor: pointer;

        &.active {
            color: var(--color-secondary);
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            left: 50%;
            bottom: -2px;
            transition: .3s;
            background-color: var(--color-primary);
        }

        &.active::after {
            width: 100%;
            left: 0;
        }

        &:hover {
            color: var(--color-secondary);
        }

        &:hover::after {
            width: 100%;
            left: 0;
        }
    }

    .profile {

        button {
            position: relative;
            border: none;
            outline: none;
            background-color: var(--bg-secondary);
            color: var(--text-primary);
            font-size: 1.2em;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            .arrow {
                position: absolute;
                bottom: 0;
                right: -3px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--color-primary);
                font-size: 12px;
            }

            .dropdownSection {
                position: absolute;
                right: 0px;
                top: 65px;
                width: 180px;

                background-color: var(--bg-primary);
                border-radius: 8px;
                padding: 12px;

                z-index: 1000;
            }

            .username {
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                color: var(--text-primary);
                text-align: center;

                &:hover {
                    color: var(--color-secondary);
                }
            }

            .divider {
                height: 1px;
                background-color: rgba(255, 255, 255, 0.1);
                margin: 10px 0;
            }

            .logout-btn {
                width: 100%;
                padding: 8px 10px;

                background: transparent;
                border: none;
                border-radius: 6px;

                font-size: 14px;
                cursor: pointer;

                transition: background-color 0.2s ease;
            }

            .logout-btn:hover {
                background-color: rgba(231, 76, 60, 0.1);
            }
        }
    }

    .logout {
        font-size: .9em;
    }
}

:host::ng-deep {
    .search-input {
        input {
            padding: 8px 14px;
            // font-size: 
        }
    }
}