<header class="shadow-lg">
    <nav class="d-flex justify-content-between align-items-center container p-0">
        <div class="start d-flex align-items-center gap-4">
            <a [routerLink]="'/'" class="logo">01BLOG</a>
            <app-search-input />
        </div>
       
        <div class="end d-flex align-items-center gap-4">
            <ul class="list-unstyled d-flex m-0 gap-4">
                <li routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</li>
                <li>Dashboard</li>
                <li routerLink="/create-blog" [routerLinkActive]="['active']" class="d-flex align-items-center gap-2">Write <i class="bi bi-book"></i></li>
            </ul>
            
            <div class="profile">
                <button (click)="dropdownProfile($event)">
                    <i class="bi bi-person-fill"></i>
                    <div class="arrow">
                        @if (!showDropdown()) {
                        <i class="bi bi-arrow-down-short"></i>
                        } @else {
                        <i class="bi bi-arrow-up-short"></i>
                        }
                    </div>
                    @if (showDropdown()) {
                    <div class="dropdownSection shadow">
                        <p class="username">{{ userInfos()?.username }}</p>

                        <div class="divider"></div>

                        <button class="logout-btn text-danger" (click)="logout()">
                            Logout
                        </button>
                    </div>
                    }
                </button>
            </div>
        </div>
    </nav>
</header>