<header class="shadow-lg">
    <nav class="d-flex justify-content-between align-items-center container p-0">
        <div class="start d-flex align-items-center gap-4">
            <a [routerLink]="'/'" class="logo">01BLOG</a>
            <app-search-input />
        </div>

        <div class="end d-flex align-items-center gap-4">
            <ul class="list-unstyled d-flex m-0 gap-4">
                <li routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</li>
                <li routerLink="/dashboard" [routerLinkActive]="['active']">Dashboard</li>
                <li routerLink="/create-blog" [routerLinkActive]="['active']" class="d-flex align-items-center gap-2">
                    Write <i class="bi bi-book"></i></li>
            </ul>

            <div (click)="getNotifications($event)" class="notif">
                <i class="bi bi-bell"></i>
                @if (isVisibleNotifs()) {
                <div (click)="$event.stopPropagation()" class="dropdown-notif shadow">
                    <div class="notif-header d-flex justify-content-between align-items-center">
                        <i class="bi bi-bell"></i>
                        <span>Notifications</span>
                        <i class="bi bi-chat"></i>
                    </div>
                    <div class="notif-body">
                        @for (notification of notifications(); track notification.id) {
                        <p class="m-0" [ngClass]="{'is-new-notif': !notification.is_read}">
                            <span class="d-block created-at">{{ notification.created_at | dateFormat }}</span>
                            <b>{{ notification.sender_username
                                }}</b> {{notification.message}}
                            <span (click)="deleteNotification(notification.id)" class="delete-notif">
                                <i class="bi bi-x"></i>
                            </span>
                        </p>
                        }
                    </div>
                </div>
                }
            </div>

            <div class="profile">
                <button (click)="dropdownProfile($event)">
                    <img [src]="userInfos()?.profile_image || '/assets/images/profileImage.webp'" alt="profile-picture">
                    <div class="arrow">
                        @if (!showDropdown()) {
                        <i class="bi bi-arrow-down-short"></i>
                        } @else {
                        <i class="bi bi-arrow-up-short"></i>
                        }
                    </div>
                    @if (showDropdown()) {
                    <div class="dropdownSection shadow">
                        <p [routerLink]="['/profile', userInfos()?.id]" class="username">{{ userInfos()?.username }}</p>

                        <div class="divider"></div>

                        <button class="logout-btn text-danger" (click)="logout()">
                            Logout
                        </button>
                    </div>
                    }
                </button>
            </div>
        </div>
    </nav>
</header>