DATABASE_URL=example
POSTGRES_USER=example
POSTGRES_PASSWORD=example
JWT_SECRET=example
ADMIN_USERNAME=example
ADMIN_EMAIL=example
ADMIN_PASSWORD=example
cloudinary.cloud_name=example
cloudinary.api_key=example
cloudinary.api_secret=example