.search-input {
    position: relative;

    .search-bar {
        position: relative;
    }

    input {
        width: 100%;

        background-color: var(--bg-primary);
        color: var(--text-primary);

        border: 1px solid var(--bg-secondary);
        border-radius: 20px;

        outline: none;

        transition: border-color 0.2s ease, box-shadow 0.2s ease;

        &::placeholder {
            color: var(--text-muted);
        }

        &:focus {
            border-color: var(--color-primary);
            box-shadow:
                0 0 0 2px rgba(148, 137, 121, 0.1),
                0 0 8px rgba(223, 208, 184, 0.2)
        }
    }

    .search-bar>i {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
    }

    .search-result {
        width: 100%;
        left: 0;
        border-radius: 20px;
        background-color: var(--bg-primary);

        p {
            padding: 15px;
            margin: 0;
            cursor: pointer;

            &:hover {
                background-color: var(--bg-secondary);
            }

            img {
                border-radius: 50%;
                border: 1px solid var(--color-primary);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--bg-secondary);
            border-radius: 10px;
            border: 2px solid transparent;
            background-clip: content-box;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: var(--color-primary);
        }
    }
}