<div class="row w-100 h-100">
    <section class="img-section col h-100">
        <!-- <img class="w-100 h-100" src="/assets/images/office.jpg"> -->
    </section>
    <section class="form-section col d-flex flex-column justify-content-center align-items-center">
        <div class="text">
            <h2 class="mb-2">Log into your account</h2>
            <app-welcome-message />
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="d-flex flex-column gap-4">
            @if (loginForm.hasError('backend')) {
            <span class="error text-danger">{{ loginForm.getError('backend') }}</span>
            }
            <input [ngClass]="{
                    'border-danger': username.invalid && username.touched
                }" formControlName="username" type="text" placeholder="Username">
            @if (username.invalid && username.touched) {
            <span class="error text-danger">Username cannot be empty</span>
            }
            <input [ngClass]="{
                    'border-danger': password.invalid && password.touched
                }" class="col" formControlName="password" type="password" placeholder="Password">
            @if (password.invalid && password.touched) {
            <span class="error text-danger">Password cannot be empty</span>
            }
            <button type="submit">Sign in</button>
            <p>Don't have an account? <a class="text-decoration-none" routerLink="/auth/register">Sign up</a></p>
        </form>
    </section>
</div>