.blog {
    max-width: 850px;
    margin: auto;

    .header {
        i {
            font-size: 1.5em;
        }

        .created-at {
            opacity: .7;
            display: block;
            margin-top: -20px;
            font-size: 0.8em;
        }

        .username {
            font-size: 1.3em;
        }
    }

    .title {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .content {
        margin-top: 30px;
    }

    #editorjs {
        word-wrap: break-word;
    }

    .line {
        height: 2px;
        width: 100px;
        margin: auto;
        background-color: var(--color-primary);
        margin-top: 10px;
    }
}

::ng-deep {

    .ce-toolbar__plus,
    .ce-toolbar__settings-btn {
        color: var(--text-primary) !important;

        &:hover {
            background-color: var(--text-primary) !important;
            color: var(--bg-primary) !important;
        }
    }

    .ce-block__content {
        margin: 0;
        max-width: 100%;
    }

    .ce-toolbar__content {
        max-width: 100%;
    }

    .cdx-block {
        width: 100%;
    }

    .image-tool--caption .image-tool__caption {
        visibility: hidden;
    }

    .codex-editor__redactor {
        padding-bottom: 40px !important;
    }
}