@if (blogError()) {
<app-error [message]="blogError()" />
} @else {

<section class="blog">
    <app-blog-header (delete)="blogDeleted($event)" [blog]="blog()" />
    <h1 class="title text-center">{{ blog()?.title }}</h1>
    <div class="line"></div>
    <div id="editorjs" class="content">

    </div>
    <app-blog-footer [(comments)]="comments" [(blog)]="blog" [blog]="blog()" />
    <div class="show-comments">
        <button (click)="getComments()">
            @if (!showComments()) {
            Show comments
            } @else {
            Hide comments
            }
        </button>
    </div>
    @if (showComments()) {
    <div class="comments d-flex flex-column gap-3">
        @for (comment of comments(); track comment.id ) {
        <div class="comment">
            <div class="comment-header d-flex align-items-center justify-content-between">
                <p class="d-flex align-items-center gap-2 m-0"><img
                        [src]="comment.profile_image || '/assets/images/profileImage.webp'"> <span class="username">{{
                        comment.username
                        }}</span></p>
                <span class="created-at">{{ comment.created_at | dateFormat}}</span>
            </div>
            <p class="comment-content m-0"> {{ comment.content }} </p>
        </div>
        <div class="comment-line"></div>
        } @empty {
        <p class="no-comments"><i class="bi bi-chat"></i> <span>No comments yet. Be the first to start the
                conversation.</span></p>
        }
    </div>
    <div class="p-3" appIntersectionobserver (isIntersecting)="onFetchNextCommentsSet($event)">

    </div>
    @if (!isAbleToFetchComments() && comments()?.length! > 0) {
    <p class="no-comments">
        <i class="bi bi-chat"></i>
        <span>No comments available.</span>
    </p>
    }
    }
</section>

}

@if (popup().show) {
<app-popup [(popup)]="popup" />
}

@if (showSuccessPopup()) {
<app-success-popup (close)="hideSuccessPopup()" [message]="showSuccessPopup()" />
}