.blog {
    max-width: 850px;
    margin: auto;

    .header {
        i {
            font-size: 1.5em;
        }

        .created-at {
            opacity: .7;
            display: block;
            margin-top: -20px;
            font-size: 0.8em;
        }

        .username {
            font-size: 1.3em;
        }
    }

    .title {
        margin-top: 20px;
        padding-bottom: 10px;
    }

    .content {
        margin-top: 30px;
    }

    #editorjs {
        word-wrap: break-word;
    }

    .line {
        height: 2px;
        width: 100px;
        margin: auto;
        background-color: var(--color-primary);
        margin-top: 10px;
    }

    .show-comments {
        text-align: center;
        margin: 10px 0;

        button {
            background-color: var(--bg-primary);
            color: var(--text-secondary);
            padding: 6px 14px;
            border-radius: 20px;
            font-size: 0.9em;
            border: 1px solid var(--bg-secondary);
            cursor: pointer;
            transition: all 0.25s ease;
            outline: none;

            &:hover {
                background-color: var(--bg-primary);
                color: var(--color-secondary);
                border-color: var(--color-primary);
            }

            &:active {
                transform: scale(0.96);
            }
        }
    }

    .comments {
        .comment-header {
            img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
                border: 2px solid var(--color-primary);
            }

            .username {
                color: var(--text-primary);
                font-size: .9em;
            }

            .created-at {
                font-size: 0.75rem;
                color: var(--text-primary);
            }
        }

        .comment-content {
            padding: 10px 0;
        }

        .comment-line {
            width: 100%;
            height: 1px;
            background-color: var(--bg-secondary)
        }
    }

}

::ng-deep {

    .ce-toolbar__plus,
    .ce-toolbar__settings-btn {
        color: var(--text-primary) !important;

        &:hover {
            background-color: var(--text-primary) !important;
            color: var(--bg-primary) !important;
        }
    }

    .ce-block__content {
        margin: 0;
        max-width: 100%;
    }

    .ce-toolbar__content {
        max-width: 100%;
    }

    .cdx-block {
        width: 100%;
    }

    .image-tool--caption .image-tool__caption {
        visibility: hidden;
    }

    .codex-editor__redactor {
        padding-bottom: 40px !important;
    }
}