/* You can add global styles to this file, and also import other style files */

:root {
  --text-primary: #E6E6E6;
  --text-secondary: #BFC3C7;
  --text-muted: #8E9398; 

  --bg-primary: #222831;
  --bg-secondary: #393E46;

  --color-primary: #948979;
  --color-secondary: #DFD0B8;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: auto;
}

body {
  background-color: var(--bg-primary) !important;
}

// body[data-bs-theme="dark"] .btn {
//   background-color: #eee; // light button in dark mode
//   color: #222;
// }
