.popup {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 12px 18px;
    animation: slideIn 0.35s ease-out forwards;

    p{
        font-size: 14px;
    }
}

.popup svg {
    font-size: 18px;
}

.popup svg.bi-check-circle-fill {
    color: #2ecc71;
}

.popup svg.bi-x-circle-fill {
    color: #e74c3c;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}
