.profile {
    position: relative;
}

.profile-infos {
    position: sticky;
    top: 95px;
    left: 30px;
    width: 280px;

    background: linear-gradient(180deg,
            var(--bg-secondary),
            var(--bg-primary));
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    padding: 20px;
    height: max-content;

    .profile-picture {
        position: relative;

        img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            object-fit: cover;
            border: 3px solid var(--color-primary);
        }

        .subscribe {
            position: absolute;
            bottom: -15px;
            right: 0px;
            font-size: 1.8em;
            cursor: pointer;
            transition: .2s;

            &:hover {
                color: var(--color-primary);
            }
        }
    }

    .infos {
        text-align: center;

        .username {
            font-size: 1.2em;
            font-weight: 600;
            color: var(--text-primary);
        }

        .followers,
        .following {
            font-size: 0.9em;
            color: var(--text-secondary);
        }
    }
}

:host::ng-deep {
    .blogs {
        padding: 0 !important;
    }
}