@if (showNotFoundError()) {
<p>profile not found</p>
} @else {
<section class="profile row">
    <div class="profile-infos col-4">
        <div class="profile-picture">
            @if (loader()) {
            <div class="loader"></div>
            } @else {
            <img [src]="userProfile()?.profile_image || '/assets/images/profileImage.webp'" alt="profile-picture">
            @if (userProfile()?.id !== currentUser()?.id) {
            <div class="subscribe">
                @if (!userProfile()?.subscribe) {
                <span (click)="addFollow()"><i class="bi bi-plus-circle"></i></span>
                } @else {
                <span (click)="addFollow()"><i class="bi bi-check"></i></span>
                }
            </div>
            } @else if (!loader()) {
            <div class="update-picture">
                <label for="upload-image"><i class="bi bi-camera"></i></label>
                <input (input)="uploadImage($event)" id="upload-image" type="file">
            </div>
            }
            }
        </div>
        <div class="infos">
            <p class="username m-0 mb-2"> {{ userProfile()?.username }} </p>
            <p class="followers m-0">{{ userProfile()?.followers_count }} followers</p>
            <p class="following m-0">{{ userProfile()?.following_count }} following</p>
        </div>
    </div>
    <div class="profile-blogs col">
        <app-blogs [profileUserId]="userProfile()?.id || 0" />
    </div>
</section>
}