<form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
    {{ registerForm.controls.username.errors | json }}
    <br>
    <br>
    <input formControlName="username" type="text" placeholder="username">
    @if (username.hasError('backend')) {
    <p style="color: red;"> {{username.getError('backend')}}</p>
    }

    @if (username.invalid && (username.dirty || username.touched)) {
        @if (username.hasError('required')) {
        <p style="color: red;">Invalid username</p>
        }
    }

    <br>
    <br>
    <input formControlName="email" type="email" placeholder="email">
    <br>
    <br>
    <input formControlName="password" type="password" placeholder="password">
    <br>
    <br>
    <input type="submit">
    <br>
    <br>
    <a routerLink="/auth/login">Login</a>
</form>