<div class="row w-100 h-100">
    @if (showPopup()) {
    <!-- <app-popup [popup]="popup()" /> -->
    }

    <section class="img-section col h-100">
        <!-- <img class="w-100 h-100" src="/assets/images/office.jpg"> -->
    </section>
    <section class="form-section col d-flex flex-column justify-content-center align-items-center">
        <div class="text">
            <h2 class="mb-2">Create your account</h2>
            <app-welcome-message />
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()" class="d-flex flex-column gap-4">
            <input [ngClass]="{
                    'border-danger': username.invalid && username.touched
                }" class="border" formControlName="username" type="text" placeholder="Username" maxlength="20">
            @if (username.invalid && username.touched) {
            @if(username.hasError('required') || username.hasError('minlength') || username.hasError('maxlength')) {
            <span class="error text-danger">Username should be between 3 and 20 characters</span>
            } @else if (username.hasError("pattern")) {
            <span class="error text-danger">Username must be like Youssef, AfricanoZone01</span>
            } @else if (username.hasError("backend")) {
            <span class="error text-danger">{{ username.getError('backend') }}</span>
            }
            }
            <input [ngClass]="{
                'border-danger': email.invalid && email.touched
            }" class="border" formControlName="email" type="email" placeholder="Email Address">
            @if (email.invalid && email.touched) {
            @if(email.hasError('required') || email.hasError('email')) {
            <span class="error text-danger">Please provide a valid email</span>
            } @else if (email.hasError('backend')) {
            <span class="error text-danger"> {{ email.getError('backend') }} </span>
            }
            }
            <div class="row gap-3 g-0">
                <input [ngClass]="{
                    'border-danger': password.invalid && password.touched
                }" maxlength="30" class="border col" formControlName="password" type="password" placeholder="Password">
                <input [ngClass]="{
                    'border-danger': registerForm.hasError('PasswordNoMatch') && confirmation.touched
                }" maxlength="30" class="border col" formControlName="confirmation" type="password"
                    placeholder="Confirmation">
            </div>
            @if (password.invalid && password.touched) {
            @if(password.hasError('required') || password.hasError('minlength') || password.hasError('maxlength')) {
            <span class="error text-danger">Password should be between 8 and 30 characters</span>
            } @else if (password.hasError('backend')) {
            <span class="error text-danger"> {{ password.getError('backend') }} </span>
            }
            } @else if (confirmation.touched && registerForm.hasError('PasswordNoMatch')) {
            <span class="error text-danger">Passwords do not match</span>
            }
            <button class="btn btn-dark" type="submit">Sign up</button>
            <p class="text-muted">Already have an account? <a class="text-decoration-none" routerLink="/auth/login">Sign
                    in</a></p>
        </form>
    </section>
</div>